EjerciciosRepasoDTD/ej5.dtd


<!ELEMENT mensaje (de, para+ , asunto, cuerpo?, adjunto* )>
<!ELEMENT de (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT cuerpo (#PCDATA)>
<!ELEMENT adjunto (#PCDATA)>

<!ATTLIST mensaje prioridad (alta | normal | baja) "normal" 
bandejaDefecto CDATA "enviados" >